@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary-color: #fdfdfd;
    --secondary-color: #fceed5;
    --tertiary-color: #f7dba7;
    --quaternary-color: #002a48;
    --quinary-color: #ffb775;
    --orange-color-1: #fe9923;
    --red-color-1: #fc1a40;
    --yellow-color-1: #fcbf29;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: black;
    background-color: rgb(var(--primary-color));
}
